*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*NAVEGATION CSS*/

nav{
    background: #9BEB29;
    height: 100px;
    width: 100%;
}
nav:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding:0 60px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right:20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family:'Pixelify Sans', sans-serif;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #3E067A;
    border: black solid 2.5px;
    border-radius: 20px;
}
a.active, a:hover{
    border-radius: 20px;
    transition: transform .5s;
}
/*END OF NAVEGATION CSS*/

/*PICTURE AND FORM CSS*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .image-box{
    position: relative;
    width: 50%;
    height: 100%;
}
section .image-box::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}/* CHECK THIS */

section .image-box img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#3E067A,#7F0CFA,#9c51ec);
}
section .container form input{
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;
    display: inline-block; 
    letter-spacing: 2px;
    border-radius: 30px;
    padding: 10px;
}
section .container form{
    border-radius: 20px;
    border:black solid 2.5px;
    padding:5%;
    background-color:#9BEB29;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
section .container form:hover{
    transform: translateY(-5px);
    box-shadow: inset 0px 10px 40px 2px rgba(230, 5, 136, 0.7);
    transition: transform 0.3s;
}
section .container form legend{
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    background-color: #7F0CFA;
    color: beige;
    border-radius: 20px;
    padding: 2.5%;
    margin-bottom: 20px;
    border: black solid 2.5px;
}
input::placeholder {
    /* Your styles here */
    color: black; /* Example placeholder text color */
    font-style: italic; /* Example placeholder font style */
    line-height: 80px;
}
.addButton,.clearButton{
    background-color: #3E067A;
    color: beige;
    padding: 2px;
}
.addButton,.clearButton:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}
